<!-- apruebe en la factura para que decuente -->
<div class="grid flex justify-content-center">
  <div class="col-12 flex align-items-center justify-content-center">
    <h2>Venta de Productos</h2>
  </div>
  <div class="col-10">
    <form [formGroup]="billForm" (ngSubmit)="agregarProducto()">
      <div class="field">
        <label for="producto">Producto</label>
        <div class="col aling-inputs-form">
          <p-dropdown class="text-center" [style]="{'width':'100%'}" [options]="productos" [optionLabel]="'nameProduct'"
            formControlName="{{inputs.name}}"></p-dropdown>
        </div>
      </div>

      <div class="field">
        <label for="cantidad">Cantidad</label>
        <div class="col aling-inputs-form">
          <input pInputText class="w-12 text-center" label="Cantidad" formControlName="{{inputs.amount}}" />
        </div>
        <div class="error-message" *ngIf="billForm.get(inputs.amount)?.errors !== null">
          La cantidad ingresda del producto es invalida, excede el stock que se tiene almacenado.
        </div>
      </div>

      <section class="grid">
        <div class="col-6">
          <button pButton type="button" label="Cancelar" class="w-12 p-button-secondary" (click)="back()"></button>
        </div>
        <div class="col-6">
          <button pButton type="submit" label="Agregar" class="w-12" [disabled]="billForm.invalid"></button>
        </div>
      </section>
    </form>
  </div>

  <p-card *ngIf="factura.length > 0" class="w-7 text-center" header="Factura" [style]="{'border': '6px solid gray'}">

    <section class="grid">
      <div class="col-4"><strong>Producto:</strong></div>
      <div class="col-4"><strong>Cantidad:</strong></div>
      <div class="col-4"><strong>Precio Unitario:</strong></div>
    </section>
    <section class="grid" *ngFor="let producto of factura">
      <div class="col-4">{{ producto.nameProduct }}</div>
      <div class="col-4">{{ producto.amountProduct }}</div>
      <div class="col-4">{{ producto.priceProduct }}</div>
    </section>

    <p-divider></p-divider>

    <div>Total: {{ total }}</div>
  </p-card>
</div>