<!-- apruebe en la factura para que decuente
boton de cerrar factura -->
<p-toast></p-toast>
<p-messages [key]="'alert-product'" [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>

<div class="grid flex justify-content-center">
  <div class="col-12 flex align-items-center justify-content-center">
    <h2>{{'sales-product.title' | translate}}</h2>
  </div>
  <div class="col-10">
    <form [formGroup]="billForm" (ngSubmit)="autorizeBill()">
      <div class="field">
        <label for="producto">{{'sales-product.form.product' | translate}}</label>
        <div class="col aling-inputs-form">
          <p-dropdown class="text-center" [style]="{'width':'100%'}" [options]="productos" [optionLabel]="'nameProduct'"
            formControlName="{{inputs.infoProduct}}"></p-dropdown>
        </div>
      </div>

      <div *ngIf="billForm.get(inputs.infoProduct)?.value !== null" class="field">
        <label for="cantidad">{{'sales-product.form.amount' | translate}}</label>
        <div class="col aling-inputs-form">
          <input pInputText class="w-12 text-center" label="Cantidad" formControlName="{{inputs.amount}}" />
        </div>
        <div class="error-message" *ngIf="billForm.get(inputs.amount)?.errors !== null">
          {{'msg-errors.sales-product.amount' | translate}}
        </div>
      </div>
<!-- campo form: <pre>{{billForm.get(inputs.infoProduct)?.value | json}}</pre>
factura: <pre>{{factura | json}}</pre>
productos: <pre>{{productos | json}}</pre> -->
      <section class="grid">
        <div class="col-6">
          <button pButton type="button" label="{{'btns.cancel' | translate}}" class="w-12 p-button-secondary" (click)="back()"></button>
        </div>
        <div class="col-6">
          <button pButton type="button" label="{{'btns.add' | translate}}" class="w-12" [disabled]="billForm.invalid" (click)="addProduct()"></button>
        </div>
        <div class="col-12">
          <button pButton type="submit" label="{{'sales-product.btns.sellBill' | translate}}" class="w-12 p-button-success" [disabled]="factura.length === 0"></button>
        </div>
      </section>
    </form>
  </div>

  <p-card *ngIf="factura.length > 0" class="w-8 text-center" header="{{'sales-product.title-bill' | translate}}" [style]="{'border': '6px solid gray'}">

    <section class="grid">
      <div class="col-3"><strong>{{'sales-product.form.product' | translate}}:</strong></div>
      <div class="col-3"><strong>{{'sales-product.form.amount' | translate}}:</strong></div>
      <div class="col-3"><strong>{{'sales-product.price' | translate}}:</strong></div>
      <div class="col-3"><strong>{{'sales-product.sub-total' | translate}}:</strong></div>
    </section>
    <section class="grid" *ngFor="let producto of factura; trackBy: trackByProductBill">
      <div class="col-3">{{ producto.nameProduct }}</div>
      <div class="col-3">{{ producto.amountProduct }}</div>
      <div class="col-3">{{ producto.priceProduct | currency }}</div>
      <div class="col-3">{{ producto.amountProduct * producto.priceProduct | currency }}</div>
    </section>

    <p-divider></p-divider>

    <div>Total: {{ total }}</div>
  </p-card>


  <p-divider class="w-12"></p-divider>
  <!-- *ngFor="let a of billHistory" -->
  <p-card *ngIf="billHistory.length > 0" class="w-12 text-center" header="{{'sales-product.title-bill-history' | translate}}" [style]="{'border': '6px solid gray'}">
<!-- Listado de facturas aprobadas anteriormente -->
    <section class="grid">
      <div class="col-3"><strong>{{'sales-product.form.product' | translate}}:</strong></div>
      <div class="col-3"><strong>{{'sales-product.form.amount' | translate}}:</strong></div>
      <div class="col-3"><strong>{{'sales-product.price' | translate}}:</strong></div>
      <div class="col-3"><strong>{{'sales-product.sub-total' | translate}}:</strong></div>
    </section>
    <section class="grid" *ngFor="let producto of factura; trackBy: trackByProductBill">
      <div class="col-3">{{ producto.nameProduct }}</div>
      <div class="col-3">{{ producto.amountProduct }}</div>
      <div class="col-3">{{ producto.priceProduct | currency }}</div>
      <div class="col-3">{{ producto.amountProduct * producto.priceProduct | currency }}</div>
    </section>

    <p-divider></p-divider>

    <div>Total: {{ total }}</div>
  </p-card>
</div>