<p-card [style]="{'border': '3px solid grey'}">
    <section class="grid flex justify-content-center" [style.min-height]="'80vh'">
      <div class="col-12 flex align-items-center justify-content-center">
        <h2>{{'login.title' | translate}}</h2>
      </div>
      <div class="col-10">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="field">
            <label for="username">{{'login.email' | translate}}</label>
            <div class="col aling-inputs-form">
              <input pInputText class="container-inputs" formControlName="{{inputs.email}}" label="'login.email' | translate" />
            </div>
            <div class="error-message" *ngIf="loginForm.get(inputs.email)?.errors !== null">
              {{'msg-errors.login.email' | translate}}
            </div>
          </div>
          <div class="field">
            <label for="password">{{'login.pass' | translate}}</label>
            <div class="col aling-inputs-form">
              <input pInputText class="container-inputs" formControlName="{{inputs.pass}}" label="'login.pass' | translate" type="password" />
            </div>
            <div class="error-message" *ngIf="loginForm.get(inputs.pass)?.errors !== null">
              {{'msg-errors.login.pass' | translate}}
            </div>
          </div>
  
          <section class="grid">
            <div class="col-6">
              <button pButton type="submit" label="{{'login.btns.label-login' | translate}}" class="w-12" [disabled]="loginForm.invalid"></button>
            </div>
  
            <div class="col-6 container-btn-google">
              <button pButton type="button" (click)="logInWithGoogle()"
              class="flex items-center justify-center w-full p-button-secondary">
                <div class="w-5">
                  <img class="img-google" src="https://www.svgrepo.com/show/475656/google-color.svg" loading="lazy"
                    alt="google logo">
                </div>
                <span class="msg-btn-google">{{'login.btns.label-google' | translate}}</span>
              </button>
            </div>
            <div class="col-12 flex align-items-center justify-content-center">
              <a routerLink="/sign-up">{{'login.link-sign-up' | translate}}</a>
            </div>
          </section>
        </form>
      </div>
    </section>
  </p-card>